<div class="row-fluid" align="center">
  <h1>QUICKCHAN</h1>
  <p class="lead">
    <img src="images/saitama-avoa.gif" alt="I'm Saitama"><br>
    Welcome to the first open source Node.js and Angular imageboard project.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<hr>
<div class="row-fluid marketing" >
  <div class="col-md-3 col-md-offset-4">
  <h4>Boards</h4>
  <p>
    <a href="#/boards/b" class="btn btn-default" title="Conteudo aleatório">/b/</a>
    <a href="#/boards/lan" class="btn btn-default" title="Jogatina conjunta">/lan/</a>
    <a href="#/boards/pr0n" class="btn btn-default" title="Pornografia">/pr0n/</a>

  </p>

  <h4>Streams</h4>
  <p>
    <a href="#/stream/futebol" class="btn btn-default" title="Stream Futebol">Corinthians X Bragantino</a>
  </p>

  <h4>Livestream</h4>
  <p>   <a href="#/boards/b" class="btn btn-default" title="Conteudo aleatório">/b/</a> </p>
  <hr>
  <h4>Info</h4>

  <ul class="list-group">
  <li class="list-group-item">
    <span class="badge">314159265359</span>
    Posts
  </li>
  <li class="list-group-item">
    <span class="badge">3000</span>
    Threads
  </li>
  <li class="list-group-item">
    <span class="badge">80GB</span>
    HDD used
  </li>
  <li class="list-group-item">
    <span class="badge">300</span>
    Online Users
  </li>
</ul>

<p><a href="#/admin/login" class="btn btn-primary"><i class="fa fa-shield"></i> Admin Access</a></p>
</div>
</div>
